# myenv
application_default_credentials.json
# master_expired.json
# master_nonexpired.json
my-grocery-home-745726ebbfac.json
# result.json
# shopping_list.json
apenai_api_key.txt
# item_freqeuncy_list
.env